In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import datetime

In [2]:
# read in the sp500 list file 
list = pd.read_csv('SP500_list.csv', index_col = False)

In [3]:
list = list.drop(list.columns[[1, 2]],axis = 1)
list

    Symbol
0      MMM
1      AOS
2      ABT
3     ABBV
4     ABMD
..     ...
500    YUM
501   ZBRA
502    ZBH
503   ZION
504    ZTS

[505 rows x 1 columns]

In [15]:
t_lst = list.values.tolist()
t_lst = [item[0] for item in t_lst]
# this is very dumb way to clean data, but will do for now
# 加多一点解释，MMM为啥去掉
list_remove = ['ABC','ANTM','BLL','BRK.B','BF.B','CERN','CTXS','DISCA','DISCK','DRE','RE',
               'FB','FRC','FISV','FBHS','KSU','INFO','NLSN','NLOK','PBCT','PKI','SIVB',
               'TWTR','VIAC','WLTW','XLNX','MMM']
for i in list_remove:
    if i in t_lst:
        t_lst.remove(i)
print(len(t_lst))

479

In [18]:
# fetch the data from Yahoo Finance
# close price used

start_date = '2020-01-01'
end_date = '2023-01-01'

df = pd.DataFrame() 
stocks_not_downloaded = []

for ticker in t_lst:
    if df.empty:
        print("No Data for :", ticker)
        stocks_not_downloaded.append(ticker)
        pass

    data = yf.download(ticker, start = start_date, end = end_date, progress = False)['Close'].to_frame(name = ticker)
    df = pd.concat([df,data], axis = 1)

No Data for : MMM

In [25]:
#Generate SP500 normal return data
norm_rtn = df.pct_change()
norm_rtn.to_csv('SP500_normal_return.csv',index = False)

In [42]:
# Generate SP500 demeaned log return data
log_rtn = np.log(df) - np.log(df.shift(1))

demeaned_log_rtn = pd.DataFrame()

for column in log_rtn.columns:
    mean_returns = log_rtn[column].mean()
    demeaned_returns = log_rtn[column] - mean_returns
    demeaned_log_rtn = pd.concat([demeaned_log_rtn,demeaned_returns], axis = 1)

demeaned_log_rtn.to_csv('SP500_demeaned_log_return.csv',index = False)